| Dear #{locals.username},<br /><br />
| Welcome to revu.se.  We hope you enjoy using the service.  If you have any feedback or have any ideas on how to improve the service, we'd love to hear it!<br /><br />
| Best regards,<br /><br />
| Paul and the team.

