body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #444
  background-color:#BABABA
a
  color: #00B7FF

header
  margin-bottom:50px;

header h1
  font-size:450%
  margin-left:10px

#main-content
  min-height:250px
  padding-bottom:50px;
  background-color:#fff
  padding-top:20px;

.google-login-link
  background-image: url(/img/google.png)
  width:150px
  height:56px
  display:block

.facebook-login-link
  background-image: url(/img/facebook.png)
  width:150px
  height:44px
  display:block

.pad-section
  margin:10px 0 30px 0
.top-padding
  margin: 10px 0 0 0;

#upper
  background-color: #ededed

footer .max-home-width
  padding:10px

.fancy
  font-family:Lobster

h1 > small, h2 > small, h3 > small
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif

textarea
  width:98%
  height:120px

.inactivebtn
  cursor: default

.hidden
  display: none

// homepage
#page1
  background-image: url(/img/p1Graphic.jpg)
  background-size: cover;
  padding-top:70px;

header.home
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;

  background-image: -webkit-gradient(
    linear, right top, right bottom, from(rgba(255, 255, 255, 0.95)),
    to(rgba(255, 255, 255, 0))
  );


  background-image: -moz-linear-gradient(
    top center,
    rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
  );

header div.max-home-width
  padding:0px 10px 10px 10px

header.not-top
  background-color:white;

header h1
  margin-top: 10px


.max-home-width
  max-width:1100px;
  margin:auto
  padding:10px 10px 20px 10px


#header-links
  margin:20px 0

#header-links a
  margin-left:20px

.screenshot
  border:solid 1px #888; max-width:450px;
  margin:auto; height:220px;transform: rotate(-3deg);-webkit-transform:
  rotate(-3deg);-moz-transform: rotate(-3deg)
  background-image: url(/img/screenshot.png)
  background-size: cover;

.feature-list
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  margin-bottom:30px

.feature-list p
  padding-left:1em;

li div.arrow
  float:left
  margin:3px 5px 0 0

#impact-box
  background-color:green
  width: 290px;
  position: relative
  left:0px
  top:70px;
  color:white;
  padding:5px 10px
  -moz-border-radius: 6px;
  border-radius: 6px;

#impact-box h2
  padding-top:0
  margin-top:0


.hard-header
  -webkit-transition: all 0.6s ease
  -moz-transition: all 0.6s ease
  -o-transition: all 0.6s ease
  -ms-transition: all 0.6s ease
  background-color: white
  border-bottom: 3px solid #dedede


@media (max-width: 600px)
  .hard-header h1
    margin-top:0
    margin-bottom:0
    padding:0

@media(max-width:500px)
  #add-site-link
    display:none

  #login-link
    display:inline-block
    margin: 10px 20px 0 0

#layout header h1
  padding:0;

#layout header
  background-color: #008000;
  margin-bottom: 0px;
  padding:10px 0;
  color: white

#layout header a
  color:white;

#layout header a:hover
  color:#dedede;
